.signupContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupContainer h2 {
  margin-bottom: 20px;
}

.signupForm {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signupForm input {
  padding: 10px;
  font-size: 14px;
}

.signupForm button {
  padding: 10px;
  font-size: 15px;
}
p {
  margin-top: 10px;
  font-size: 14px;
}

p a {
  color: #1e1e1e;
  font-weight: bold;
}
